<?xml version="1.0"?>
<configuration>
  <!--<legacyCorruptedStateExceptionsPolicy enabled="true|false"/>-->
  <appSettings>
    <add key="SavedFileFolder" value="d:\BBEEG\Delta\ProcessedFiles\"></add>
    <add key="DeltaEEGFileFolder" value="d:\BBEEG\Delta\"></add>
    <add key="BACKUPDeltaEEGFileFolder" value="d:\BBEEG\Delta\Backup\"></add>
    <add key="LogFile" value="c:\log.txt"></add>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
